.Weather {
  padding: 20px;
  border: 1px solid #ff3266;
  border-radius: 12px;
  background: rgb(95, 178, 208);
  background: linear-gradient(
    8deg,
    rgba(95, 178, 208, 1) 0%,
    rgba(244, 252, 255, 1) 100%
  );
}

.Weather .weather-temperature strong {
  line-height: 1;
  color: white;
  font-size: 64px;
  font-weight: 400;
}

.Weather .weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.Weather .weather-temperature .active {
  color: white;
  cursor: default;
  text-decoration: none;
}

.Weather .weather-temperature .active:hover {
  text-decoration: none;
}

.Weather .overview {
  margin-bottom: 20px;
}

.Weather .weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: white;
}

.Weather .weather-forecast-date {
  font-size: 16px;
  opacity: 0.7;
}

.Weather .weather-forecast-temp-min {
  opacity: 0.6;
}

.Weather .weather-forecast-temperatures {
  font-size: 13px;
}
